# Ignore build output
/dist/

# Ignore dependencies
/node_modules/

# Ignore lock files
pnpm-lock.yaml
yarn.lock
package-lock.json

# Ignore config files
*.config.js
*.config.cjs
*.config.ts

# Ignore output CSS
/src/output.css

# Ignore misc
*.d.ts 

/scripts/
/src/utils/debug.ts